@import "./styles/reset";
@import "./styles/variables";

html {
  font-size: 62.5%; // 1rem => 10px
}

body {
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  font-size: 1.4rem;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: var(--background);
}
